      <p>
        <h1> Formalizer gem</h1>
        <%= image_tag asset_path('formalizer.png'), class: 'scheme-container' %>
      </p>

      <p>
      Formalizer is an open-source gem for simplifying HTML-form filling and exporting:
      </p>
      <ul>
        <li>Store blank contracts, agreements, disclosure sheets etc. as HTML templates.</li>
        <li>Wrap blank data with &lt;formalizer&gt; tags:<br /> 
            before: &nbsp; <span class="code">name: ________</span><br />
            after: &nbsp; <span class="code">name: &lt;formalizer id="name"&gt;________&lt;/formalizer&gt;</span>
        </li>
        <li>Get user data from any source, or simply let Formalizer generate user-input forms for you</li>
        <li>Formalizer will replace the &lt;formalizer&gt; tags with user data:<br />
        <span class="code">name: &lt;formalizer id="name"&gt;John D.&lt;/formalizer&gt;</span>
        <li>Filled forms can be exported to PDF using <a href="https://github.com/mileszs/wicked_pdf">Wicked PDF</a> gem, or to raw html, for additional styling.</li>
      </ul>
      <p>
      <a href="demo">See the demo</a>
      </p>