<h1> Formalizer gem</h1>

<p>
<%= image_tag asset_path('formalizer.png') %>
</p>

<p>
Formalizer is an open-source gem for simplifying html form filling and exporting:
</p>
<ul>
  <li>Store blank contracts, agreements, disclosure sheets etc. as HTML templates.</li>
  <li>Wrap blank data (e.g. name: ________) with &lt;formalizer&gt; tags.</li>
  <li>Get user data from any source, or simply let Formalizer generate user-input forms for you</li>
  <li>Formalizer will replace the &lt;formalizer&gt; tags with user data, (e.g. name: <strong>John D.</strong>)</li>
  <li>Filled forms can be exported to PDF using <a href="https://github.com/mileszs/wicked_pdf">Wicked PDF</a> gem, or to raw html, for additional styling.</li>
</ul>
<p>
<a href="fill_details">Start a demo</a> | 
<a href="https://github.com/talyaniv/formalizer">Documentation</a> |
<a href="mailto: talyaniv@gmail.com">Contact author</a>
</p>