<h1> Formalizer gem - Demo </h1>
<p>
  The following form takes raw user input and binds it to an empty <a href="demo/html_template" target="blank">HTML template</a>.<br />Fill and submit the form, then export as HTML or PDF.
</p>
<p>
  <%= @fill_details.html_safe %>
</p>