<ul>
  <li><strong>Initial version code:</strong> Tal Yaniv</li>
  <li><strong>Licence:</strong> <a href="https://en.wikipedia.org/wiki/MIT_License" target="_blank">MIT</a></li>
  <li><a href="https://github.com/talyaniv/formalizer" target="_blank">Git and Documentation</a></li>
  <li><strong>Contact me:</strong> <a href="mailto:talyaniv@gmail.com">talyaniv@gmail.com</a></li>
</ul>